//
// Component:       Variables
// Description:     Defines all color and style related values as variables
//                  to allow easy customization for the most common cases.
//
// ========================================================================

// ========================================================================
// Component: Variables
// ========================================================================

// Colors
$brand-primary: #fff766;
$secondary-purple: #4242BA;
$secondary-dkpurple: #1E1E8C;
$background: #FFFFFF;
$color-white: #FFFFFF;
$color-black: #2A2A2A;
$color-gray: #979797;
$color-ltgray: #ECECEC;
$red: #ED3024;

$box-shadow: 0 2px 10px 0 rgba(0,0,0,0.10);

// Forms
$form-field-border-radius:3px;
$form-field-background:$color-white;
$form-field-border:1px solid $color-gray;
$form-field-font-size:16px;
$form-field-color:$color-black;
$form-field-padding:0 10px;
$form-field-height:40px;


// Layout
$wrapper-max-width-large:1200px;
$wrapper-max-width-small:1200px;

$hamburger-padding-x                       : 0px;
$hamburger-padding-y                       : 0px;
$hamburger-layer-width                     : 40px;
$hamburger-layer-height                    : 3px;
$hamburger-layer-spacing                   : 5px;
$hamburger-layer-color                     : #000;
$hamburger-layer-border-radius             : 3px;

$breakpoints:
  sm 568px 568px,
  md 768px 768px,
  lg 960px 960px,
  xlg 1200px 1200px;
$flexboxgrid-max-width: $wrapper-max-width-large;

$gutter-width: 20px;
$outer-margin: 40px;
