.page-template-template-contact {
  section#contact-links {
    .social {
      font-size: 36px;
      text-align: center;

      i.fa {
        margin: 0 5px;
      }
    }
    .email {
      font-size: 20px;
    }
  }
}
